/*Large devices */
@media (max-width: 1199.98px) { }

/*Medium devices */
@media (max-width: 991.98px) {
    .navbar-toggler i{
        color: #fff;
        font-size: 30px;
    }
    .navbar-nav {
	text-align: center;
	padding: 10px 0;
	background: #312b2b;
}
    .navbar-expand-lg .navbar-nav .nav-link {
	padding-bottom: 10px;
}
    #banner {
	padding-top: 190px;
	padding-bottom: 150px;
}
    .service-text i {
	padding-top: 20px;
}
    .service-text p {
	padding-bottom: 30px;
}
    .service-text p::after {
	bottom: 15px;
}
    .counter-text{
        padding-bottom: 40px;
    }
    .counter-text::after {
	bottom: 25px;
}
    .clien-logo-item{
        text-align: center;
        padding-top: 30px;
    }
    .about-item2 h3 {
	padding-top: 15px;
}
    .about-item2 h3 {
	padding-bottom: 0px;
}
    .about-widget li {
	width: calc(20% - 5px);
}
    .fooder-text p {
	text-align: center;
}
    .theme-text{
        text-align: center;
    }
    .theme-text h3{
        font-size: 25px;
    }
    .theme-text p{
        font-size: 16px;
        padding: 10px 0;
    }
    
}

/* Small devices*/
@media (max-width: 767.98px) {
.navbar-toggler i{
        color: #fff;
        font-size: 30px;
    }
    .navbar-nav {
	text-align: center;
	padding: 10px 0;
	background: #312b2b;
}
    .navbar-expand-lg .navbar-nav .nav-link {
	padding-bottom: 10px;
}
    .banner-text h2 {
	
	font-size: 25px;
	
}
    .banner-text h3 {
	font-size: 35px;
}
    .banner-text p {
	font-size: 14px;
}
    #banner {
	padding-top: 190px;
	padding-bottom: 150px;
}
    .service-text i {
	padding-top: 20px;
}
    .service-text p {
	padding-bottom: 30px;
}
    .service-text p::after {
	bottom: 15px;
}
.idea-text h3 {
	font-size: 25px;
}
    .idea-text p {
	font-size: 14px;
}
    .theme-text{
        text-align: center;
    }
    .theme-text h3{
        font-size: 25px;
    }
    .theme-text p{
        font-size: 16px;
        padding: 10px 0;
    }
    .project-button button {
	padding: 5px 7px;
	margin: 5px 5px;
}
    .video-overly {
	padding-top: 105px;
	padding-bottom: 120px;
}
    .iphone-text2 {
	margin-left: 0;
        padding-bottom: 15px;
}
.iphone-text2 i {
	margin-right: 10px;
}
    .counter-text{
        padding-bottom: 40px;
    }
    .counter-text::after {
	bottom: 25px;
}
    .clien-logo-item{
        text-align: center;
        padding-bottom: 50px;
    }
    .logo-overly {
	padding-bottom: 70px;
}
    .about-item2 h3 {
	padding-top: 15px;
}
    .fooder-text p {
	font-size: 10px;
	text-align: center;
}

}

/*Extra small devices*/
@media (max-width: 575.98px) {

    .navbar-toggler i{
        color: #fff;
        font-size: 30px;
    }
    .navbar-nav {
	text-align: center;
	padding: 10px 0;
	background: #312b2b;
}
    .navbar-expand-lg .navbar-nav .nav-link {
	padding-bottom: 10px;
}
    .banner-text h2 {
	
	font-size: 25px;
	
}
    .banner-text h3 {
	font-size: 35px;
}
    .banner-text p {
	font-size: 14px;
}
    #banner {
	padding-top: 190px;
	padding-bottom: 190px;
}
    .service-text p {
	padding-bottom: 30px;
}
    .service-text p::after {
	bottom: 15px;
}
    .idea-text h3 {
	font-size: 25px;
}
    .idea-text p {
	font-size: 14px;
}
    .theme-text{
        text-align: center;
    }
    .theme-text h3{
        font-size: 25px;
    }
    .theme-text p{
        font-size: 16px;
        padding: 10px 0;
    }
    .project-button button {
	padding: 5px 10px;
	margin: 5px 5px;
}
    .video-overly {
	padding-top: 105px;
	padding-bottom: 120px;
}
    .iphone-text2 {
	margin-left: 0;
        padding-bottom: 15px;
}
.iphone-text2 i {
	margin-right: 10px;
}
    .counter-text{
        padding-bottom: 40px;
    }
    .counter-text::after {
	bottom: 25px;
}
    .clien-logo-item{
        text-align: center;
        padding-bottom: 50px;
    }
    .logo-overly {
	padding-bottom: 70px;
}
    .about-item2 h3 {
	padding-top: 15px;
}
    .fooder-text p {
	font-size: 10px;
	text-align: center;
}
    
}







